
@import "font";

body{
  background: #c7cfdd linear-gradient(#bec6d4,#c7cfdd);
}
section.container{
  margin:100px auto;
  width: 50vw;
  box-sizing: border-box;

  & .main-bloc{
    background: #cebfc4 linear-gradient(#afa0a5, #cebfc4);
    width: 100%;
    box-sizing: border-box;
    height: 50vh;
    overflow-y: auto;

    & text{
      font: 300 1.1em 'Traveling';
      color: white;
      letter-spacing: .06em;
    }


  }
  & .yourNic{
    color:white;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    background: #4d4e5c linear-gradient(rgba(77, 78, 92, 0.88),#4d4e5c);
    display: flex;
    justify-content: center;
    min-height: 2em;
    align-items: center;
    font: 300 1.3em  'eraser';
    label{
      padding-right: 1em;
    }
    input{
      border-radius: .3em;
      padding: .1em .3em;
    }
  }
  div{
    display: flex;
    flex-flow: row wrap;

    textarea{
      width: 100%;
    }
    button{
      display: inline-block;
      width: 100%;
      padding: 1.2rem .5rem;
      border: rgba(77, 78, 92, 0.88);
      background: #4d4e5c linear-gradient(rgba(77, 78, 92, 0.88),#4d4e5c);
      border-bottom-left-radius: .5em;
      border-bottom-right-radius: .5em;
      color: #fff;
      text-align: center;
      font: 300 1.3em 'jennnif';
      text-decoration: none;
      transition: .3s ;
      letter-spacing: .06em;
      box-shadow: inset 0 0 40px 10px rgba(0, 0, 0, 0.8);

    }
    button[disabled="disabled"]{
      cursor: not-allowed;
    }
    button:hover, button:focus{
      box-shadow:inset 0 0 25px 8px rgba(25, 25, 25, 0.8);
      color: rgba(196, 247, 255, 1);



    }
  }

}
.def-text{
  font: .8em 'Roboto-Medium';
  color: #c7cfdd;
  border: .15em solid #484957;
  background: #4d4e5c linear-gradient(rgba(77, 78, 92, 0.88),#4d4e5c);
  border-radius: 1.5em;
  padding: .2em .5em;
  margin: .2em .3em;
  letter-spacing: .06em;
  display: flex;
  text-align: right;

}
.nick{
  font: .8em 'Roboto-Medium';
  color: #232429;
  border: .15em solid #afb0c0;
  background: #DDE5F3 linear-gradient(rgba(196, 197, 214, 0.88),#c7cfdd);
  border-radius: 1.5em;
  padding: .2em .5em;
  margin: .2em .3em;
  letter-spacing: .06em;
  align-self: center;
  height: 1rem;
}
.time{
  padding: 0 .3rem;
  margin: 0 .5rem;
  height: 1rem;
  align-self: center;
  color: black;
  background: #c4ccda;
  border-radius: 8px;
  box-shadow: 0 0 6px 1px white;

}
.message{

  &-self {
    display: flex;
    margin: .5rem .4rem .5rem .4rem;
  }
  &-other{
    width: 100%;
    display: flex;
    flex-direction: row-reverse !important;
    margin: .5rem .4rem .5rem .4rem;
  }
  &-text-sms{
    @extend .def-text;
  }
}
.post-wrapper{
  width: 100%;
}
.post-text{
  align-self: center;
}
.img{
  width: 70px;
  height: 70px;
  padding: 0 .7rem;
  border-radius: 50%;
  display: block;
}
.users{
  margin-left: 2rem;
}
.file{
  display: none;
}
.block-file{
  height: 3rem;
  width: 100%;
  background: #c5b6bb;
  text-align: center;
  justify-content: center;
}
.footer{
  position: relative;
}
.block-file__text{
  color: #fff;
  font-size: 2rem !important;
  position: absolute;
  bottom: 16px;
  left: 15px;
}
.block-file__text:hover{
  color: #ffb249;
}
.preview-img{
  width: 40px;
  height: 40px;
}
.fa.fa-times {
  opacity: .1;
  position: absolute;
  color: red;
  top: -10px;
  right: -2px;
  padding: 0;
  margin: 0;
  font-size: 3.5rem;
  transition: .3s all ease;
}
.attach-img:hover .fa.fa-times {
  opacity: .9;
}