<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chat</title>


  <link href="css/style.css" rel="stylesheet">


</head>
<body>
  <section class="container">
    <div class="yourNic">
      <label for="nic">Enter your nic</label> <input type="text" placeholder="Your nic" id="nic" class="nic" maxlength="15" minlength="3" >
      <span class="users">Count connect user(s) <span class="countUser"></span></span>
    </div>
    <section class="main-bloc">
      <div class="message">
      </div>
    </section>
    <section class="footer">
      <div>
        <textarea  class="sms" id="sms" placeholder="Enter your sms" required maxlength="200" minlength="3" cols="30" rows="5"></textarea>
        <div class="block-file__text"> </div>
        <input type="file" class="file">
        <button type="submit" class="button"> Send</button>
      </div>
    </section>
  </section>

  <script class="my-template" id="my-template" type="text/x-handlebars-template">
  <div class="post-wrapper">
    <div class={{class}}>
      <span class="nick">{{nick}}</span>
      <p class="message-text-sms">
         {{#if file}}
          <img class="img" src={{file}} alt="">
          {{/if}}
          <span class="post-text">{{text}}</span>
          <span class="time">{{time}}</span>
      </p>
    </div>
  </div>
  </script>
  <script class="template-attach-img" type="text/x-handlebars-template">
    <div class="attach-img">
      <i class="fa fa-times" aria-hidden="true"></i>
      <img class="preview-img" src={{data}} alt="file">
    </div>

  </script>
  <script class="template-attach-button" type="text/x-handlebars-template">
    <i class="fa fa-paperclip " aria-hidden="true"></i>
  </script>
  <script src="https://use.fontawesome.com/a3ce68018b.js"></script>
  <script src="js/handlebars-v4.0.10.js"></script>
  <script src="js/main.js"></script>
</body>
</html>